### To Multiply 2 numbers 
1st assign data into string\
input a number

In [6]:
a=2
b=10
c=a*b
c

20

## or

In [7]:
num1=input('first number:')

first number:20

In [8]:
#back slash is given to come to next line
num2=input('\nSecond number:')

Second number:20

In [9]:
#string converting to float
Mul=float(num1)*float(num2)
Mul

400.0

In [10]:
#to convert float into string format we give .format
#here inside the curly brackets we give the index numbers of each code

print('the Multiplied value of {0} and {1} is {2}' .format(num1,num2,Mul))

the Multiplied value of 20 and 20 is 400.0