### To Divide 2 numbers 
1st assign data into string\
input a number

In [1]:
a=2
b=10
c=b/a
c

5.0

## or

In [2]:
num1=input('first number:')

first number:60

In [3]:
#back slash is given to come to next line
num2=input('\nSecond number:')

Second number:2

In [4]:
#string converting to float
div=float(num1)/float(num2)
div

30.0

In [5]:
#to convert float into string format we give .format
#here inside the curly brackets we give the index numbers of each code

print('the divided value of {0} and {1} is {2}' .format(num1,num2,div))

the divided value of 60 and 2 is 30.0