# Sets 

A set is a collection which is unordered

To declare a set in python we use the curly brackets.

In [1]:
set={10,20,10,30,20,40,30,50,30}

#Will get all the values.

for x in set:
    print(x)

50
20
40
10
30

In [2]:
for x in set:
    print(x)

50
20
40
10
30

In [3]:
20 in set

# Will return true if the value is in the set

True

In [4]:
# add a value in a set

set.add('pekky')
set

{10, 20, 30, 40, 50, 'pekky'}

In [5]:
set.add(100)
set

{10, 100, 20, 30, 40, 50, 'pekky'}

In [6]:
100 in set

True

In [7]:
# To remove an item from a set

set.remove('pekky')
set

{10, 20, 30, 40, 50, 100}

In [8]:
set.remove(100)
set

{10, 20, 30, 40, 50}

In [9]:
set1={5,10,20}
set2={10,20,30}
set1.issubset(set2)

#To check subset or not

False

In [10]:
set1={10,20}
set2={10,20,30}
set1.issubset(set2)

True

In [11]:
# This will return a set with the union of the two sets

set1.union(set2)

{10, 20, 30}

In [12]:
st1={4,2,3}
st2={4,3,1}

In [13]:
st1.union(st2)

{1, 2, 3, 4}