### Statistcs :  2 types, descriptive and Inferential statistics

In [158]:

#Descriptive Statistics 
#In measure of central tendency
#mean, median, mode

# Measure of central tendency

In [159]:

#mean 

import numpy as np
X=[1,2,3,1,2,3,4,5,2,6,7,5,4,8,10]

#using numpy
np.mean(X)

4.2

In [160]:

print("mean : ", np.mean(X))

mean :  4.2

In [161]:
#created the list into a table format
import pandas as pd
z=pd.DataFrame(data={'values': [1,2,3,1,2,3,4,5,2,6,7,5,4,8,10]})
z

    values
0        1
1        2
2        3
3        1
4        2
5        3
6        4
7        5
8        2
9        6
10       7
11       5
12       4
13       8
14      10

In [162]:

#mean using pandas
z.mean()

values    4.2
dtype: float64

In [163]:

z.describe()

          values
count  15.000000
mean    4.200000
std     2.651145
min     1.000000
25%     2.000000
50%     4.000000
75%     5.500000
max    10.000000

In [164]:
#median
X=[1,2,3,1,2,3,4,5,2,6,7,5,4,8,10]

#using numpy
np.median(X)

4.0

In [165]:

print("median : ", np.median(X))

median :  4.0

In [166]:
#using pandas
z.median()

values    4.0
dtype: float64

In [167]:

z.describe()

          values
count  15.000000
mean    4.200000
std     2.651145
min     1.000000
25%     2.000000
50%     4.000000
75%     5.500000
max    10.000000

In [168]:

#mode
#numpy does not has an attribute mode

In [169]:

#using pandas
z.mode()

   values
0       2

# Measure of Dispersion

In [170]:
#variance
X=[1,2,3,1,2,3,4,5,2,6,7,5,4,8,10]

#using numpy
np.var(X)

6.5600000000000005

In [171]:

print("Variance : ", np.var(X))

Variance :  6.5600000000000005

In [172]:
#using pandas
z.var()

values    7.028571
dtype: float64

In [173]:
#standard deviation
X=[1,2,3,1,2,3,4,5,2,6,7,5,4,8,10]

#using numpy
np.std(X)

2.5612496949731396

In [174]:

print("Variance : ", np.std(X))

Variance :  2.5612496949731396

In [175]:
#using pandas
z.std()

values    2.651145
dtype: float64

# 5 number Summary

Minimum

1st quartile -Q1

2nd quartile -Q2(Median)

3rd quartile -Q3

Maximum

In [176]:
#Minimum
X=[1,2,3,1,2,3,4,5,2,6,7,5,4,8,10]

#using numpy
np.min(X)

1

In [177]:


print("Minimum : ", np.min(X))

Minimum :  1

In [178]:
#using pandas
z.min()

values    1
dtype: int64

In [179]:

#quartiles
X=[1,2,3,1,2,3,4,5,2,6,7,5,4,8,10]

#using numpy
np.quantile(X,[0.25,0.50,0.75])

array([2. , 4. , 5.5])

In [180]:
print("Q1 : ", np.quantile(X,0.25),
      "Q2 : ", np.quantile(X,0.50),
      "Q3 : ", np.quantile(X,0.75))

Q1 :  2.0 Q2 :  4.0 Q3 :  5.5

In [181]:

#using pandas
z.quantile([0.25,0.50,0.75])

      values
0.25     2.0
0.50     4.0
0.75     5.5

In [182]:

z.describe()

          values
count  15.000000
mean    4.200000
std     2.651145
min     1.000000
25%     2.000000
50%     4.000000
75%     5.500000
max    10.000000

In [183]:
#Maximum
X=[1,2,3,1,2,3,4,5,2,6,7,5,4,8,10]

#using numpy
np.max(X)

10

In [184]:

print("Maximum : ", np.max(X))

Maximum :  10

In [185]:

#using pandas
z.max()

values    10
dtype: int64

# Range

In [186]:
#Range
#using numpy

Ran=np.max(X) - np.min(X)
Ran

9

In [187]:
#using pandas
Range = z.max()-z.min()
Range

values    9
dtype: int64

# IQR

In [188]:

#IQR
#using numpy
IQR = np.quantile(X,0.75)-np.quantile(X,0.25)
IQR

3.5

In [189]:

#using pandas
iqr=z.quantile(0.75)-z.quantile(0.25)
iqr

values    3.5
dtype: float64

# QD

In [190]:
#QD
#using numpy
QD = IQR/2
QD

1.75

In [191]:

#QD
#using pandas
qd =iqr/2
qd

values    1.75
dtype: float64